<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038031173119-pv7mqp1cro7j4eniivag16k7unjraiag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038031173119-pv7mqp1cro7j4eniivag16k7unjraiag</string>
	<key>API_KEY</key>
	<string>AIzaSyCgnlN5aw039jGsJFUq0l6YeFoyP2fmCa0</string>
	<key>GCM_SENDER_ID</key>
	<string>1038031173119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notiday1</string>
	<key>PROJECT_ID</key>
	<string>notiday-app</string>
	<key>STORAGE_BUCKET</key>
	<string>notiday-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038031173119:ios:25488354899af42df1e3ca</string>
	<key>DATABASE_URL</key>
	<string>https://notiday-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>